.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card img {
    width: 100%;
    height: 25vh;
    border-radius: 0.4rem;
    object-fit: cover;
}

.project-card>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card>.header>h2 {
    color: var(--main-bg-color);
}

.project-card>.header>div {
    display: flex;
    gap: 1rem;
}

.project-card>.header>div>a>img {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}

.project-card>.header>div>a>img:hover {
    transform: scale(1.1);
}

.project-card>.detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-card>.detail>.tech:hover {
    color: var(--secundary-bg-color);
}
.project-card>.detail>.tech {
    color: var(--tertiary-color);
}