.home {
    padding: 0 8rem;
    width: 50vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
}

@media (max-width: 700px) {
    .home {
        padding: 0 2rem;
    }
}

.home h1 {
    font-size: 8vh;
    color: var(--primary-bg-color);
    word-wrap: break-word;
}

.home p{
    word-wrap: break-word;
}

.home>a {
    font-size: 1.5rem;
}
.namemusic {
    text-decoration: none;
    color: #e05353;
    text-transform: uppercase;
}

.namegallery {
    text-decoration: none;
    color: #e05353;
    text-transform: uppercase;
}

.nametv {
    text-decoration: none;
    color: #e05353;
    text-transform: uppercase;
}